html,*{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
}
img{
    width:120px;
    height:120px;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
body{
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100%;
    display:block;
    align-items: center;

}
.container{
    width: 235px;
    display: inline-block;
    background-color: #232C39;
    font-size: 14px;
    line-height: 20px;
}
.header_inner{
width: 235px;
height: 180px;
background:#232C39;
justify-content: center;
}
.header_inner_image{
    margin-right: 58px;
    margin-left: 58px;
    position: absolute;
    top: 30px;
}
.main_container{
   width: 360px;
   border: 2px solid;
}
section{
    
    height: 100%;
}
.about{
    color: #fff;
    margin-left: 10px;
}
h2{
    margin-bottom: 24px;
}
li{
    margin-bottom: 8px;
    font-size: 14px;
}
.phone_number{
    align-items: center;
}
.phone_number::before{
    content:url(./images/phone_icon.svg);
    vertical-align: middle;
    
}
.email_info::before{
    content:url(./images/email.svg);
    vertical-align: middle;
}
.location::before{
    content:url(./images/location.svg);
    vertical-align: middle;
}
.github::before{
    content:url(./images/github.svg);
    vertical-align: middle;
    filter: invert(1);
}
hr {
    border: none; /* Убираем границу */
    background-color:#F3F3F3; 
    color: #F3F3F3; 
    height: 2px;
    width:187px;
    margin-left: 15px;
    margin-top: 24px;
    margin-bottom: 24px;
   }
   .person_info{
       margin-left: 24px;
       margin-top: 26px;
       font-size: 30px;
       line-height: 36px;

   }
   .education_title{
       margin-top: 20px;
   }
   .about_info{
       margin-top: 20px ;
   }
   .about_info_text{
       font-size: 14px;
   }
  
   main{
       display: flex;
       justify-content: center;
   }
  
   footer{
    display: flex;
    justify-content: center;
    align-items: center;
   
   }

   .footer_inner{
    width:595px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border: 2px solid;
    border-top: none;

}
.logo_rss{
    width: 50px;
    height: 50px;
}
